@import "../../style/colours.scss";

._icon-Account {
  font-size: 2.3rem;
  color: $green;
  padding: 0;
  margin: 0;
}

._icon-Account:hover {
  /*filter: drop-shadow(0px 0px 4px var(--snow0));
  transition: all 0.2s ease;.Google_sign-out:focus*/

    color: #178685ef;
    transition: all 0.2s ease;
    
}

._icon-Account:focus {
transition: all 0.3s ease-in-out;
}


.account_button {
  position: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: $greyDropdown !important;
  //backdrop-filter: blur(100px) !important;
  color: $green !important;
}
.MenuItem_header{
letter-spacing: 0.8rem;
}
.MenuItem_header:hover{
  background-color: bisque;
}
 
