@import "colours.css";

html {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.6rem;
    letter-spacing: .004em;
}

*, ::after, ::before {
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.6rem;
    letter-spacing: .004em;
    color: var(--snow2);
    background: var(--grey3);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    display: block;
}

a {
    color: var(--frost_blue1);
    outline: 0 !important;
    text-decoration: none;
}

.app_header {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--grey0);
    top: env(safe-area-inset-top);
    left: 0;
    right: 0;
    z-index: 999;
}

.app_header .right {
    right: 10px;
    top: 0;
    height: 56px;
    display: flex;
    align-items: center;
    position: absolute;
}

.app_header .right .account_button {
    min-width: 36px;
    height: 56px;
    display: flex;
    padding: 10px;
    position: relative;
    justify-content: center;
}

.app_bottom_menu {
    min-height: 56px;
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--grey0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: var(--frost_blue1);
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: env(safe-area-inset-bottom);
}

.app_bottom_menu .item {
    font-size: 9px;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
    height: 56px;
    line-height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}